.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
  
    .login-form {
      width: 300px;
      background-color: #416136;
      padding: 30px;
      border-radius: 40px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      h2 {
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        input {
          padding: 10px;
          margin-bottom: 10px;
          border: 0px solid #ddd;
          border-radius: 25px;
  
          &[type="password"],
          &[type="text"] {
            height: 40px;
            font-size: 16px;
          }
        }
  
        button {
          padding: 10px 30px;
          background-color: #FFFFFF;
          color: #416136;
          border-radius: 30px;
          cursor: pointer;
          font-size: 16px;
          border: 8px solid #21351A;
  
          &:hover {
            background-color: #053304;
          }
        }
  
        h3 {
            color: #fff;
          margin-top: 20px;
          text-align: center;
        }
  
        button:nth-of-type(2) {
          background-color: #FFFFFF;
          margin-top: 10px;
  
          &:hover {
            background-color: #053304;
          }
        }
      }
    }
  }